<%= stylesheet_link_tag 'addTask.css', "data-turbo-track": "reload" %>
<div class="form">
  <p class="task-heading"><%= @name %></p>
  <%= form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div class="error" >
        <%flash[:error] ||= []%>
        <% task.errors.each do |error| %>
          <% flash[:error] << error.full_message %>
        <% end %>
      </div>
    <% end %>
    <div class="input category">
      <%= form.label :category, class: "label"%>
      <%= form.text_field :category, class: "text-field" %>
    </div>
    <div class="input description">
      <%= form.label :description, class: "label" %>
      <%= form.text_field :description, class: "text-field" %>
    </div>
    <div class="input time">
      <%= form.label :time, class: "label"%>
      <%= form.text_field :time, class: "text-field" %>
    </div>
    <%= form.submit class: "submit"%>
  <% end %>
</div>
