<%= stylesheet_link_tag 'signUp.css', "data-turbo-track": "reload" %>
<div class="devise-form">
  <p class="devise-heading">Login In</p>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="devise-field">
      <%= f.label :email, class: "devise-label" %>
      <%= f.email_field :email, class: "devise-input-field", autofocus: true, autocomplete: "email" %>
    </div>
    <div class="devise-field">
      <%= f.label :password, class: "devise-label" %>
      <%= f.password_field :password, class: "devise-input-field", autocomplete: "current-password" %>
    </div>
    <div class="devise-remember-field">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me, class: "devise-remember-label" %>
        <%= f.label :remember_me, class: "devise-label" %>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit "Log in", class: "devise-action-btn" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
